In [18]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [4]:
df = pd.read_csv('/content/CVD_cleaned.csv')

In [6]:
df.info()
# 19 features identificadas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308854 entries, 0 to 308853
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   General_Health                308854 non-null  object
 1   Checkup                       308854 non-null  object
 2   Exercise                      308854 non-null  object
 3   Heart_Disease                 308854 non-null  object
 4   Skin_Cancer                   308854 non-null  object
 5   Other_Cancer                  308854 non-null  object
 6   Depression                    308854 non-null  object
 7   Diabetes                      308854 non-null  object
 8   Arthritis                     308854 non-null  object
 9   Sex                           308854 non-null  object
 10  Age_Category                  308854 non-null  object
 11  Height_(cm)                   308854 non-null  float64
 12  Weight_(kg)                   308854 non-null  float64
 13  BMI                           308854 non-null  float64
 14  Smoking_History               308854 non-null  object
 15  Alcohol_Consumption           308854 non-null  float64
 16  Fruit_Consumption             308854 non-null  float64
 17  Green_Vegetables_Consumption  308854 non-null  float64
 18  FriedPotato_Consumption       308854 non-null  float64
dtypes: float64(7), object(12)
memory usage: 44.8+ MB

In [7]:
non_numeric_cols = df.select_dtypes(exclude=np.number).columns

non_numeric_cols

Index(['General_Health', 'Checkup', 'Exercise', 'Heart_Disease', 'Skin_Cancer',
       'Other_Cancer', 'Depression', 'Diabetes', 'Arthritis', 'Sex',
       'Age_Category', 'Smoking_History'],
      dtype='object')

In [8]:
for col in non_numeric_cols:
    print(f"Value counts for column '{col}':")
    print(df[col].value_counts())
    print("-" * 20)

Value counts for column 'General_Health':
General_Health
Very Good    110395
Good          95364
Excellent     55954
Fair          35810
Poor          11331
Name: count, dtype: int64
--------------------
Value counts for column 'Checkup':
Checkup
Within the past year       239371
Within the past 2 years     37213
Within the past 5 years     17442
5 or more years ago         13421
Never                        1407
Name: count, dtype: int64
--------------------
Value counts for column 'Exercise':
Exercise
Yes    239381
No      69473
Name: count, dtype: int64
--------------------
Value counts for column 'Heart_Disease':
Heart_Disease
No     283883
Yes     24971
Name: count, dtype: int64
--------------------
Value counts for column 'Skin_Cancer':
Skin_Cancer
No     278860
Yes     29994
Name: count, dtype: int64
--------------------
Value counts for column 'Other_Cancer':
Other_Cancer
No     278976
Yes     29878
Name: count, dtype: int64
--------------------
Value counts for column 'Depression':
Depression
No     246953
Yes     61901
Name: count, dtype: int64
--------------------
Value counts for column 'Diabetes':
Diabetes
No                                            259141
Yes                                            40171
No, pre-diabetes or borderline diabetes         6896
Yes, but female told only during pregnancy      2646
Name: count, dtype: int64
--------------------
Value counts for column 'Arthritis':
Arthritis
No     207783
Yes    101071
Name: count, dtype: int64
--------------------
Value counts for column 'Sex':
Sex
Female    160196
Male      148658
Name: count, dtype: int64
--------------------
Value counts for column 'Age_Category':
Age_Category
65-69    33434
60-64    32418
70-74    31103
55-59    28054
50-54    25097
80+      22271
40-44    21595
45-49    20968
75-79    20705
35-39    20606
18-24    18681
30-34    18428
25-29    15494
Name: count, dtype: int64
--------------------
Value counts for column 'Smoking_History':
Smoking_History
No     183590
Yes    125264
Name: count, dtype: int64
--------------------

In [9]:

mapping = {
    'Very Good': 4,
    'Good': 3,
    'Excellent': 5,
    'Fair': 2,
    'Poor': 1
}

df['General_Health'] = df['General_Health'].map(mapping)



mapping2 = {
   'No': 0,
   'Yes': 1
}

Lista_cols  = ['Exercise', 'Heart_Disease', 'Skin_Cancer', 'Other_Cancer', 'Depression', 'Arthritis', 'Smoking_History']
for col in Lista_cols:
    df[col] = df[col].map(mapping2)

mapping3 = {
    'Yes': 1,
    'No': 0,
    'No, pre-diabetes or borderline diabetes': 1,
    'Yes, but female told only during pregnancy': 1
}

df['Diabetes'] = df['Diabetes'].map(mapping3)

In [10]:
mapping4 = {
    'Female': 1,
    'Male': 0,
}
df['Sex'] = df['Sex'].map(mapping4)

In [11]:
#one-hot encoding

from sklearn.preprocessing import OneHotEncoder

categorical_cols = ['Checkup', 'Age_Category']

encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False) # sparse=False to get a dense array

encoded_features = encoder.fit_transform(df[categorical_cols])

encoded_df = pd.DataFrame(encoded_features, columns=encoder.get_feature_names_out(categorical_cols))

df = pd.concat([df, encoded_df], axis=1)

df = df.drop(categorical_cols, axis=1)

print(df.head())

   General_Health  Exercise  Heart_Disease  Skin_Cancer  Other_Cancer  \
0               1         0              0            0             0
1               4         0              1            0             0
2               4         1              0            0             0
3               1         1              1            0             0
4               3         0              0            0             0

   Depression  Diabetes  Arthritis  Sex  Height_(cm)  ...  Age_Category_35-39  \
0           0         0          1    1        150.0  ...                 0.0
1           0         1          0    1        165.0  ...                 0.0
2           0         1          0    1        163.0  ...                 0.0
3           0         1          0    0        180.0  ...                 0.0
4           0         0          0    0        191.0  ...                 0.0

   Age_Category_40-44  Age_Category_45-49  Age_Category_50-54  \
0                 0.0                 0.0                 0.0
1                 0.0                 0.0                 0.0
2                 0.0                 0.0                 0.0
3                 0.0                 0.0                 0.0
4                 0.0                 0.0                 0.0

   Age_Category_55-59  Age_Category_60-64  Age_Category_65-69  \
0                 0.0                 0.0                 0.0
1                 0.0                 0.0                 0.0
2                 0.0                 1.0                 0.0
3                 0.0                 0.0                 0.0
4                 0.0                 0.0                 0.0

   Age_Category_70-74  Age_Category_75-79  Age_Category_80+
0                 1.0                 0.0               0.0
1                 1.0                 0.0               0.0
2                 0.0                 0.0               0.0
3                 0.0                 1.0               0.0
4                 0.0                 0.0               1.0

[5 rows x 35 columns]

In [12]:
# Porcentagem valores heart disease

heart_disease_counts = df['Heart_Disease'].value_counts(normalize=True) * 100

heart_disease_counts

Heart_Disease
0    91.91495
1     8.08505
Name: proportion, dtype: float64

In [21]:
df.to_csv('df_processed.csv', index=False)